.tick line {
    stroke: #C0C0BB;
}

.tick text {
    fill: #635F5D;
    font-family: 'Poppins'
}

.mark {
    fill: #137B80
}

.axis-label {
    font-family: 'Poppins';
    /* font-size: 2.5em; */
    fill: #635F5D
}

.Dropdown-root {
    width: 300px;
    display: inline-block;
    font-size: 1.5em;
}

.Dropdown-menu {
    max-height: 500px;
    text-align: left;
}

.dropdown-label {
    font-size: 2.5em;
    color: #635F5D;
    font-family: 'Poppins';
    margin-left: 50px;
    margin-right: 10px;
}

.menus-container {
    margin-top: 20px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}